<h1 mat-dialog-title style="text-align: center;">Mensaje Confirmación</h1>
<div mat-dialog-content style="text-align: center;">
    <p>
        {{ mensaje }}
    </p>
</div>
<div mat-dialog-actions style="margin: left 50px;">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onNoClick()">Aceptar</button>
</div>