<div class="row">
    <div class="col-lg-6">
        <h2>{{ accion }} Prenda </h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <form [formGroup]="myForm" autocomplete="off">
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="descripcion">
                  </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Precio Compra</mat-label>
                    <input matInput formControlName="precioCompra">
                  </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Precio Venta</mat-label>
                    <input matInput formControlName="precioVenta">
                  </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Diferencia Precio</mat-label>
                    <input matInput formControlName="diferenciaPrecio">
                  </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Pago</mat-label>
                    <mat-select formControlName="estadoCivil">
                      <mat-option *ngFor="let pago of pagos" [value]="pago">
                        {{ pago }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Pago Pacial</mat-label>
                    <input matInput formControlName="pagoParcial">
                  </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Nombre Comprador</mat-label>
                    <input matInput formControlName="nombreComprador">
                  </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Nombre Vendedor</mat-label>
                    <input matInput formControlName="nombreVendedor">
                  </mat-form-field>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-secondary btn-lg float-rigth" 
                routerLink="/" type="button">Cancelar</button>
                <button class="btn btn-success btn-lg float-rigth" [disabled]="myForm.invalid" type="button" 
                style="margin-left: 10px;" (click)="guardarPrenda()">Aceptar</button>  
            </div>
        </form>
    </div>
</div>