<table class="table">
    <tr>
      <th scope="col">Descripción</th>
      <th scope="col">Precio Compra</th>
      <th scope="col">Precio Venta</th>
      <th scope="col">Diferencia Precio</th>
      <th scope="col">Pago</th>
      <th scope="col">Pago Parcial</th>
      <th scope="col">Nombre Comprador</th>
      <th scope="col">Nombre Vendedor</th>
      <th scope="col">Acciones</th>
    </tr>
    <tbody>
      <tr *ngFor="let prenda of listPrenda">
        <td>{{prenda.descripcion}}</td>
        <td>{{prenda.precioCompra}}</td>
        <td>{{prenda.precioVenta}}</td>
        <td>{{prenda.diferenciaPrecio}}</td>
        <td>{{prenda.pago}}</td>
        <td>{{prenda.pagoParcial}}</td>
        <td>{{prenda.nombreComprador}}</td>
        <td>{{prenda.nombreVendedor}}</td>
        <td mat-cell *matCellDef="let element; let i = index">
          <a class="pointer" routerLink="edit/{{ i }}" style="color: #1878B0"> 
              Editar
          </a>
          <a (click)=eliminarEmpleado(i) class="pointer" style="color: #E15639 ">
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>